
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
  padding:0%;
  margin :0%;
  box-sizing: border-box;
}
@font-face {
  font-family: gilory;
  src: url("Gilroy/Gilroy-Light.ttf");
 }

 @font-face {
  font-family: gilorybold;
  src: url("Gilroy/Gilroy-Bold.ttf");
 }
body,html{
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
}
#color{
  color: #9924ff;
} 
html{
  scroll-behavior: smooth;
}
#main{
  width: 100%;
  

}
#mainpart{
  widows: 100px;
  background-image: url("illus/Frame 6.png");
  
}
h1{
  color: #110E15;
  font-size:50px ;
}
h2{
  font-size:23px ;
}
p{
  color: #474747;
}

#nav{
  display: flex;
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 100;
  background: rgba(255,255,255,0.55);
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255,255,255,0.275);
    border-radius:100px;
  border: 1px solid  #000000;
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  padding: 10px
}

.left-nav, .center-nav,.right-nav{
width: calc(100%/3);
height: 100%;
display: flex;
align-items: center;
justify-content: center;
gap: 3vw
}
.left-nav img{
width: 50%;
margin-right: 100px;
}
.center-nav a{
  text-decoration:none;
  font-size: 1.5vw;
  color:black;
}
.center-nav a:hover{
  color: #9924ff;
  }

 
.right-nav a{
  text-decoration:none;
  font-size: 1.5vw;
 color: #110E15;
}

button {
  width: 25%;
 padding: 5px;
 border-radius: 50px;
 background-color:  hsl(48, 100%, 53%);
 border: 2px solid #000000;
 font-size: 1.3vw;
 font-family: 'Poppins', sans-serif;

}
button:hover{
  background-color:#9924ff;
  color: white;
  }


#section1 {
    width: 100%;
    height: 100vh;
    text-align: center;
 
}

#background{
  position:absolute;
  width: 100%

}
.part1{
 background-image: url("illus/part1 bg.png");
  background-position: center;
   height: 100vh;
   width: 100%;
  justify-content: space-between;
  display: flex;
  border-radius: 0px 0px 100px 100px;
   color: rgb(0, 0, 0);
   overflow-x: hidden;
   
}
.Lpart1{
  margin-left: 20px;
  width: 25%;
  padding: 5px;
position: relative;
z-index: 2;
}

#image2{
  rotate: -20deg;
  margin-top: 80px;
  width: 100%;
  transition: transform 0.3;
}

.comment{
  width: 75%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 3vh;
  margin: 30px;
  padding: 10px;
  }
  .comment.word1{
    font-size: 14px;
  padding: 5px 12px;
  background-color:#9924ff ;
  border-radius: 50px;
  color: white;
  
  }


.Cpart1{

  position: absolute;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center; 
     flex-direction: column;
   margin-top:70px; 
   background-color: transparent;
   font-family: gilory;
}


.Cpart1 p{
  margin-bottom: 20px;
}
.Cpart1 h1{
  font-size: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: gilorybold;
  
}

.cnt-rotate{
  display: flex;
  align-items:center;
  justify-content: center;
}
.rotate-b{
  display: flex;
  align-items:center;
  justify-content: center;
  width: 5.5vw;
  height: 5.5vw;
  border-radius: 50%;
margin: 0px 15px 0px 15px;
}

.rotate{
  display: flex;
  align-items:center;
  justify-content: center;
  width: 5vw;
  height: 5vw;
z-index: 2;
  border-radius: 50%;
  background-color: transparent;
 

}

.rotate img{
  width: 10vw;
  animation: rotate 5s infinite linear;

}

@keyframes rotate {
  0%{
      rotate: 0deg;
  }
  100%{
      rotate: 360deg;
  }
}

.scroll{
  
  width: 100%;
  color: #9924ff;
  margin-top: 70px;
  font-size: 15px;

}

.scroll img {
  width: 40px;
}



.Rpart1{
  position: relative;
  margin-right: 60px;
   width: 25%;   
  
}

.Rpart1 #png1{
    margin-top: 20px;
  width: 100%;
  margin-left:15%;
  rotate: 20deg;
}
.Rpart1 #png2{

margin-top: 45%;
margin-right:70%;
  width: 20%;
 
}
.wordbox{
display: flex;
align-items: end;
justify-content: center;
flex-direction: column;
gap: 3vh;

}
.word1{
  font-size: 14px;
padding: 5px 12px;
background-color:#9924ff ;
border-radius: 50px;
color: white;

}

#section2 {
  position: relative;
  width: 100%;
  height: 100vh;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: gilory;
   margin-top: 30px;

}
#section2 #about{
  width: 90%;
  height: 100%;
  margin: 100px auto;
  padding: 40px;
  background-color: transparent;
}
#section2 #about h1{
  font-family: gilorybold;
  font-size: 80px;
  margin :10px auto;

}
#section2 #about h2{
  color: rgb(57, 57, 57);
  font-size: 30px;
}

.loader {
  margin: 100px auto;
  width: 44.8px;
  height: 44.8px;
  color: #554cb5;
  position: relative;
  background: radial-gradient(11.2px,currentColor 94%,#0000);
}

.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(10.08px at bottom right,#0000 94%,currentColor) top    left,
          radial-gradient(10.08px at bottom left ,#0000 94%,currentColor) top    right,
          radial-gradient(10.08px at top    right,#0000 94%,currentColor) bottom left,
          radial-gradient(10.08px at top    left ,#0000 94%,currentColor) bottom right;
  background-size: 22.4px 22.4px;
  background-repeat: no-repeat;
  animation: loader 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes loader {
  33% {
    inset: -11.2px;
    transform: rotate(0deg);
  }

  66% {
    inset: -11.2px;
    transform: rotate(90deg);
  }

  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}



#section4{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: 21px 21px;
  padding: 30px;
}
#section4 #source{
  width: 85%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  bottom: 100px;
  background-image: linear-gradient(#edb9ff 1px, transparent 1px), linear-gradient(to right, #edb9ff 1px, transparent 1px);
  background-size: 21px 21px;
  background-color: rgba(71, 212, 255, 0);}
#section4 h1{
  font-size: 80px;
}
#section4 #source .sbox{
  width: 40%;
 height:60vh;

  padding: 15px;
  border-radius: 30px;
 
  
}

#section4 #source .sbox .con{
 text-align: center;
 
}
#section4 #source .sbox p{
  font-size: 12px;
  color: #666;
}

#section4 #source .sbox img{
  width: 100%;
  height: 200px;
}
.line{
  width: 100%;
  margin-top: 20px;
  height: 2px;
  background-color: black;
  text-align: center;
}

.button {
  background-color:#9924ff ;  
  border-radius: 10em;
  font-size: 18px;
  color: white;
  font-weight: 300;
  padding: 0.7em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 2px solid black;
  box-shadow: 0 0 0 0 black;
  font-family: 'Poppins', sans-serif;
text-decoration: none;
}

.button :hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

.button :active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}
#section3{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

 }

#section3 #note_section{
  width: 80%;
  background-image: linear-gradient(#edb9ff 1px, transparent 1px), linear-gradient(to right, #edb9ff 1px, transparent 1px);
  background-size: 21px 21px;
  background-color: rgba(71, 212, 255, 0);
 margin: 100px auto;
 padding: 30px;
}
#section3 #note_section h4{
 width: 70%;
border-radius: 30px;
padding: 5px;
margin-left: 15%;
font-size: 18px;
color: #ffffff;
font-weight: 200;
background-color: #000000;
text-align: center;
}
#section3 #note_section h1{
  display: flex;
  align-items: center;
  justify-content: center;
}

#section3 #note_section #col{
  position: relative;
width: 100%;
display: flex;
justify-content: center;
align-content: center;
gap: 20px;
margin: 20px auto;
border-radius: 30px;

}

#section3 #note_section #col .col1{
  position: relative;
  width: 400px;
  height: 350px;
  gap: 30px;
  border-radius: 30px;
  padding: 30px;
  background: rgba(255,255,255,0.55);
-webkit-backdrop-filter: blur(18px);
backdrop-filter: blur(18px);
border: 1px solid rgba(255,255,255,0.275);

}
#section3 #note_section h1{
  font-size: 70px;
  line-height: 5vw;
  margin-bottom: 50px;
}
#section3 #note_section #col .col1 h2{
color: #2c2c2c;
  font-size: 55px;
 line-height: 5vw;
 margin-bottom: 50px;
}

#section5{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
 
}

#section5 #note_section{
  width: 80%;
  background-image: linear-gradient(#edb9ff 1px, transparent 1px), linear-gradient(to right, #edb9ff 1px, transparent 1px);
  background-size: 21px 21px;
  background-color: rgba(71, 212, 255, 0);
 margin: 100px auto;
 padding: 30px;
}
#section5 #note_section h1{
  display: flex;
  align-items: center;
  justify-content: center;
}

#section5 #note_section #col{
  position: relative;
width: 100%;
display: flex;
justify-content: center;
align-content: center;
gap: 20px;
margin: 20px auto;
border-radius: 30px;

}

#section5 #note_section #col .col1{
  position: relative;
  width: 400px;
  height: 350px;
  gap: 30px;
  border-radius: 30px;
  padding: 30px;
  background: rgba(255,255,255,0.55);
-webkit-backdrop-filter: blur(18px);
backdrop-filter: blur(18px);
border: 1px solid rgba(255,255,255,0.275);

}
#section5 #note_section h1{
  font-size: 70px;
  line-height: 5vw;
  margin-bottom: 50px;
}
#section5 #note_section #col .col1 h2{
color: #2c2c2c;
  font-size: 55px;
 line-height: 5vw;
 margin-bottom: 50px;
}

h5{
  color: #838383;
  font-weight: 100;
  margin-bottom: 20px;
}
i{
  font-weight: 100;
  font-size: 50px;
}
.line{
  background-color: black;
  width: 100%;
  height: 2px;
}
#section6{
  width: 100%;
  height: 140vh;
  text-align: center;
  background-image: linear-gradient(#edb9ff 1px, transparent 1px), linear-gradient(to right, #edb9ff 1px, transparent 1px);
  background-size: 21px 21px;
  background-color: rgba(71, 212, 255, 0);
  
}
#source{
  width: 80%;
  background: rgba(255,255,255,0.55);
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255,255,255,0.275);  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  margin: 100px auto;
  padding: 50px;
}
#section6 h1{
  font-size: 80px;
}
 #source .sbox{
  width: 35%;
 height: 65vh;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 30px;
  border: 2px solid black;
  
}

#source .sbox .con{
 text-align: center;
 
}
#source .sbox p{
  font-size: 12px;
  color: #666;
}

#source .sbox img{
  width: 100%;
  height: 150px;
}
.line{
  width: 100%;
  margin-top: 20px;
  height: 2px;
  background-color: black;
  text-align: center;
}

footer {
  background-color:#350063 ;  
  color: #ffffff;
  padding: 30px;
  z-index:10;
}
.footer-content p{
  color: rgb(255, 255, 255);
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
}

.footer-section h2 {
  margin-bottom: 10px;
}

.contact span {
  display: block;
  margin-bottom: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

.social-links a {
  color: #fff;
  margin-right: 10px;
  font-size: 1.5em;
 
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #666;
}

.footer-content img{
  width: 20%;
  height: 80px;
}

#cursor {
  height: 140px;
  width: 140px;
  background-color: #b14bff91;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%) scale(1);
z-index: 0.5;
}



form {
  background-color:transparent;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  border: 1px solid white;
  z-index: 1;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: 200;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: transparent;
}

button[type="submit"] {
  background-color: #b04bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  width: 30%;
}

button[type="submit"]:hover {
  background-color: #b04bff;
}